/* -----------------------------------------------------------------------------
 * Base styles
 * -------------------------------------------------------------------------- */

@import "mocha.css";

/* Reset all styles */
* {
  border: none;
  border-radius: 0;
  min-height: 0;
  margin: 0;
  padding: 0;
}

/* The whole bar */
#waybar {
  background: @base;
  color: @text;
  font-family: Go Mono Nerd Font;
  font-size: 14px;
  border-bottom: 1px solid @surface0;
}

/* -----------------------------------------------------------------------------
 * Module styles
 * -------------------------------------------------------------------------- */

#clock {
  font-weight: bold;
}

#cpu.warning {
  color: @peach;
}

#cpu.critical {
  color: @maroon;
  font-weight: bold;
}

#memory {
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#memory.warning {
  color: @peach;
}

#memory.critical {
  color: @maroon;
  font-weight: bold;
}

#mode {
  background: @lavender;
  padding-left: 4px;
  padding-right: 4px;
  color: @mantle;
  border: 1px solid @peach;
}

#network,
#bluetooth,
#language,
#custom-profile {
  font-size: 14px;
}

#idle_inhibitor,
#backlight {
  padding-left: 0px;
  padding-right: 5px;
}

#network.disconnected {
  color: @peach;
}

#custom-separator {
  padding-left: 2px;
  padding-right: 2px;
  color: @sapphire;
  background: transparent;
}

#tray {
  padding-left: 2px;
  padding-right: 2px;
}

#idle_inhibitor {
  padding-top: 2px;
}

#workspaces button:hover {
  border-top: 2px solid @yellow;
}

#workspaces button {
  border-top: 2px solid transparent;
  background-color: transparent;
  color: @text;
}

#workspaces button.focused {
  color: @mantle;
  background-color: @yellow;
}

#workspaces button.urgent {
  border-color: @maroon;
  color: @maroon;
}

#custom-media {
  font-style: italic;
}