window {
	background-color: #faf4ed;
	margin: 1px;
	border: 1px solid;
	border-color: #575279;
	border-radius: 3px;
	font-family: "Bera Sans Mono";
	font-size: 15px;
}

#input {
	padding: 2px;
	margin: 4px;
	margin-bottom: 8px;
	border: none;
	color: #575279;
	background-color: #faf4ed;
	outline: none;
}

#inner-box {
	margin: 2px;
	border: 0px solid;
	border-radius: 5px;
	background-color: #faf4ed;
}

#outer-box {
	margin: 5px;
	border: 0px solid;
	background-color: #faf4ed;
	border-radius: 5px;
}

#scroll {
	margin: 0px;
	border: none;
}

#text {
	margin-left: 10px;
	color: #575279;
}

#text:selected {
	color: #575279;
	border: none;
	border-radius: 5px;
}

#entry {
	margin: 0px 0px;
	border: none;
	border-radius: 0px;
	background-color: #faf4ed;
}

#entry:selected {
	outline: none;
	margin: 0px 0px;
	border: 1px solid;
	border-radius: 5px;
	border-color: #575279;
}
